#root {
  margin: 0 auto;
}

/* ===== Scroll custom ===== */

/* reserva o espaço do scroll e o torna invisível até o hover */
.scroll-show::-webkit-scrollbar {
  height: 8px; /* mantém o espaço fixo */
  background: transparent;
}

/* thumb invisível por padrão */
.scroll-show::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
  transition: background 0.3s ease;
}

/* quando passar o mouse, ele aparece */
.scroll-show:hover::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
}

/* === DARK MODE para scrollbar === */
.dark .scroll-show:hover::-webkit-scrollbar-thumb {
  background: rgba(180, 180, 180, 0.4);
}

/* Firefox */
.scroll-show {
  scrollbar-width: thin; /* reserva o espaço */
  scrollbar-color: transparent transparent;
}

.scroll-show:hover {
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

/* Firefox dark mode */
.dark .scroll-show:hover {
  scrollbar-color: rgba(180, 180, 180, 0.4) transparent;
}

/* Invisível */
.invisivel-scroll {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.invisivel-scroll::-webkit-scrollbar {
  display: none !important;
}

/* ===== Animations ===== */

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== Border gradient ===== */
.border-linear-purple {
  border: 4px solid transparent;
  background: linear-gradient(
      to right,
      #a8c8ff,
      #adc5ff,
      #b2c2ff,
      #b6c1ff,
      #b9c0ff,
      #bcbfff,
      #bebdff,
      #c1bcff,
      #c4bbff
    )
    border-box;
  -webkit-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

/* DARK MODE: borda mais escura porém mantendo estilo */
.dark .border-linear-purple {
  background: linear-gradient(
      to right,
      #4b5563,
      #525c6b,
      #586374,
      #5e6a7d,
      #647187,
      #6a7890,
      #6f7f9a,
      #7586a3,
      #7b8dad
    )
    border-box;
}

/* ======= Growing animation ======= */

@keyframes growSmooth {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1);
  }

  40% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1);
  }

  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.3);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.grow-smooth {
  animation: growSmooth 80s ease-in-out infinite;
}

.grow-smooth-long {
  animation: growSmooth 200s ease-in-out infinite;
}
