#root {
  margin: 0 auto;
}

/* reserva o espaço do scroll e o torna invisível até o hover */
.scroll-show::-webkit-scrollbar {
  height: 8px; /* mantém o espaço fixo */
  background: transparent;
}

/* thumb invisível por padrão */
.scroll-show::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
  transition: background 0.3s ease;
}

/* quando passar o mouse, ele aparece */
.scroll-show:hover::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
}

/* Firefox */
.scroll-show {
  scrollbar-width: thin; /* reserva o espaço */
  scrollbar-color: transparent transparent;
}

.scroll-show:hover {
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-stagger > * {
  opacity: 0;
  animation: slideUpFade 0.6s ease-out forwards;
}
